@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,300;1,700&display=swap');

*
{
    font-family: "Raleway";
    background-color: rgb(255, 255, 255);

}

.wrapper
{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    font-size: 10px;
}

input, select
{
    font-size: 10px;
    width: 20%;
    height: 20px;
    border: solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2px;
    background-color: #dddddd;;

}

.emailadd
{
    width: 300%;
}

p
{
    font-weight: bold;
    font-size: large;
}

